<script setup lang="ts">
import FancyBuuton from "@/components/FancyBuuton.vue";
import { mdiHeartOutline, mdiCursorDefaultClickOutline } from "@mdi/js";
</script>

<template>
  <v-container>
    <v-row>
      <v-col
        ><FancyBuuton
          ><v-icon :icon="mdiHeartOutline" />Love Me
          <template v-slot:tali> Tail</template>
        </FancyBuuton></v-col
      >
      <v-col
        ><FancyBuuton
          ><v-icon :icon="mdiCursorDefaultClickOutline" />Click Me
          <template v-slot:tali> My Tail</template></FancyBuuton
        ></v-col
      >
    </v-row>
  </v-container>
</template>
