<script setup lang="ts"></script>

<template>
  <v-card class="mx-auto" max-width="434" tile>
    <v-img
      cover
      height="100%"
      src="https://i.ytimg.com/vi/HuvWfDUAhe8/maxresdefault.jpg"
    ></v-img>
    <v-col>
      <v-avatar size="150" style="position: absolute; top: 130px" rounded="0">
        <v-img
          src="https://reg.buu.ac.th/registrar/getstudentimage.asp?id=63160005"
        ></v-img>
      </v-avatar>
    </v-col>
    <v-container>
      <v-row>
        <v-col>
          <v-table>
            <thead>
              <tr>
                <td>ข้อมูลด้านการศึกษา</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>ชื่อ:</td>
                <td>นายทักษ์ติโชค อนุมอญ</td>
              </tr>
              <tr>
                <td>คณะ:</td>
                <td>คณะวิทยาการสารสนเทศ</td>
              </tr>
              <tr>
                <td>จบการศึกษาจาก:</td>
                <td>พานทองสภาชนูปถัมภ์</td>
              </tr>
              <tr>
                <td>ประวัติการศึกษา:</td>
                <td>กำลังศึกษาที่มหาวิทยาลัยมอบูรพา</td>
              </tr>
              <tr>
                <td>สิ่งที่เราสนใจ:</td>
                <td>ชอบเขียนโปรแกรม</td>
              </tr>
            </tbody>
          </v-table>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
